.module {
	position: relative;
	overflow:hidden;
	width:100%;
	&[class*="bg-"]{
		padding:2em;
	}


	&-container {
		margin: {
			top:15px;
			bottom:15px;
		}
	}


}


@for $i from 1 through 6 {
	.z-index-#{$i} {
		z-index:#{$i}
	}
}



