<!-- Common Footer -->

footer.section-default
  .container
    .row
      .col-12.col-lg-4
        a(href='/').mb-4
          -var logoClass = "footerLogo";
          -var logoFill = "#fff"
          -var width = "90%"

        ul.list-inline.mt-4
          li.list-inline-item
            a(href='')
              i.fab.fa-facebook
          li.list-inline-item
            a(href='')
              i.fab.fa-twitter
          li.list-inline-item
            a(href='')
              i.fab.fa-linkedin
          li.list-inline-item
            a(href='')
              i.fab.fa-youtube


      .col-12.col-lg-8
        .row.mb-4
          .col-12
            .mainnav
        .row
          .col-10
            -var ctaText = 'Newsletter Signup'
            -var inputLabel = 'Email Address'


<!-- End Common Footer -->
