.headerContain
	header
		.container-fluid
			.row.align-items-center
				.col-12.col-lg-12.justify-content-lg-end.d-lg-block
						.nav-wrapper.d-flex.align-items-center
							.logo
								a(href="/")
									| #{siteName}

						nav.justify-content-end
							ul
								li
									a(href="/") Home
								li
									a(href="/styles.html") Styles



