//- -----------------------------------------------------------------|
//- INDEX
//- -----------------------------------------------------------------|
//- Contains all blocks/variables & HTML for the index page

extends /layouts/_default

//- --------------------------------------|
//- PAGE SPECIFIC VARIABLES
//- --------------------------------------|
block variables
	-
		//- PAGE OPTIONS
		//- -------------------------|

		// var pageLang = 'en'

		//- PAGE META
		//- -------------------------|
		var pageName = 'index'
		var pageTitle = 'Homepage | ' + siteName
		var pageUrl =  '/' + pageName + '.html'
		var ogTitle = pageTitle
		var ogDesc = pageDesc

		//- BODY SPECIFIC
		//- -------------------------|
		var bodyAttrs = {
			'class' : 'page-' + pageName
		}


//- -----------------------------------------------------------------|
//- CONTENT
//- -----------------------------------------------------------------|
block content
	.container
		.row
			.col-12

				h1 Hello World
				h2 This is an h2
				h3 This is an h3
				h4 This is an h4
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe esse animi facilis nemo dolores, blanditiis magni! Similique recusandae provident ad sequi ullam iure unde, aperiam.
				p
					strong Lorem ipsum dolor sit amet.
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ullam incidunt corrupti inventore architecto beatae, at dignissimos doloremque ipsam labore ex suscipit saepe nisi in error voluptate perspiciatis voluptatibus expedita? consectetur adipisicing elit. Aut ullam incidunt corrupti inventore architecto beatae, at dignissimos doloremque ipsam labore ex suscipit saepe nisi in error voluptate perspiciatis voluptatibus expedita?

			.col-12.col-lg-6
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, inventore officiis quae nisi reiciendis harum quam vitae sint ducimus repellat dolore distinctio, praesentium nulla quas!
			.col-12.col-lg-6
				p Nostrum numquam corporis molestias nisi sequi minus, ut animi autem odit vel deleniti molestiae mollitia nihil cupiditate itaque voluptates similique! Quos reiciendis numquam illo eos?
			.col-12.col-lg-4
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, suscipit tenetur nostrum, iste expedita asperiores iusto natus fugit, architecto recusandae sed iure quo! Facilis, veniam.
			.col-12.col-lg-4
				p Sunt dolorem repellendus alias obcaecati nobis sed aliquid labore provident inventore, eaque dolorum sequi ad autem harum ut vero suscipit exercitationem odit quo quis neque.
			.col-12.col-lg-4
				p Ex optio iusto in quaerat accusantium, quia eos. Soluta aut perferendis incidunt. Nostrum at pariatur adipisci, recusandae, hic nulla tenetur, nihil magnam porro nesciunt beatae!
			.col-12.col-lg-3
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, eligendi, voluptates. Pariatur blanditiis, praesentium magnam.
			.col-12.col-lg-3
				p Non quisquam mollitia, iste explicabo ea fugiat, nobis repudiandae, eveniet veniam similique voluptatem impedit eius.
			.col-12.col-lg-3
				p Quidem culpa, voluptatum pariatur nam! Reprehenderit eius id harum. Enim eos omnis hic, provident inventore.
			.col-12.col-lg-3
				p Fuga temporibus dolores, culpa, ullam illum hic odio et aliquam! Natus assumenda consequatur minus dolor!











